<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-logo">Logo</a>
        <ul class="navbar-menu">
            <li class="nav-item"><a (click)="navtolista()">Libros</a></li>
            <li class="nav-item"><a (click)="navtoadmin()">Control de Admin</a></li>
            <li class="nav-item"><a (click)="navtoaddestu()">Agregar Estudiante</a></li>
        </ul>
        <ul class="navbar-exit">
            <li class="nav-item"><a (click)="navtoinicio()">Salir del Login</a></li>
        </ul>
    </div>
</nav>
