<div class="container-main">
  <div class="filters">
    <div class="row g-2 mt-3">
      <div class="col-md">
        <div class="form-floating">
          <input type="search" class="form-control" id="floatingInputGrid" placeholder="Busqueda"
                 [(ngModel)]="filtro.busqueda" (ngModelChange)="obtenerLibros()">
          <label for="floatingInputGrid">Busqueda</label>
        </div>
      </div>
      <div class="col-md">
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select custom-select" id="floatingSelectGrid1" 
                      [(ngModel)]="filtro.idAutor" (ngModelChange)="obtenerLibros()">
                <option value="0">Filtra por Autores</option>
                <option *ngFor="let autor of autores" [value]="autor.idAutor">
                  {{ autor.nombreAutor }}
                </option>
              </select>
              <label for="floatingSelectGrid1">Autores</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select custom-select" id="floatingSelectGrid2" 
                      [(ngModel)]="filtro.idCategoria" (ngModelChange)="obtenerLibros()">
                <option value="0">Filtra por Categorias</option>
                <option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
                  {{ categoria.descripcionCategoria }}
                </option>
              </select>
              <label for="floatingSelectGrid2">Categorias</label>
            </div>
          </div>
          <div class="col-2 d-flex align-items-end">
            <button type="button" class="btn btn-secondary" (click)="limpiarFiltros()">
              Limpiar Filtros
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="books-table">
    <div class="table-container">
      <table class="table-header">
        <thead>
          <tr>
            <th class="text-center" style="width: 23%;">Título</th>
            <th class="text-center" style="width: 23%;">Autor</th>
            <th class="text-center" style="width: 9%;">Año</th>
            <th class="text-center" style="width: 9%;">Stock</th>
            <th class="text-center" style="width: 20%;">Género</th>
            <th class="text-center" style="width: 20%;">
              <img src="assets/images/square.svg" />
            </th>
          </tr>
        </thead>
      </table>
      <div class="table-body">
        <table class="table-body-content" style="height: fit-content;">
          <tbody>
            <tr *ngFor="let libro of libros">
              <td class="text-center" style="width: 23%;">{{ libro.nombre }}</td>
              <td class="text-center" style="width: 23%;">{{ libro.nombreAutor }}</td>
              <td class="text-center" style="width: 9%;">{{ libro.anioPublicacion }}</td>
              <td class="text-center" style="width: 10%;">{{ libro.totalStock }}</td>
              <td class="text-center" style="width: 20%;">{{ libro.descripcionCategoria }}</td>
              <td class="text-center" style="width: 20%;">
                <button type="button" class="btn btn-secondary" (click)="abrirModalPedido(libro.idLibro)">Pedir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-registrar-pedido />