body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container-body {
    display: flex;
    flex-direction: row;
    width: 93vw;
    height: 88vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.container-left {
    width: 20vw;
    height: 99%;
    background-color: #eeeeee;
    overflow-y: auto;
    border-radius: 12px;
    margin-top: 10px;
    position: static;
}

.container-right {
    margin-top: 10px;
    border-radius: 12px;
    width: 80vw;
    height: 99%;
    background-color: rgb(245, 245, 245);
    margin-left: 20px;
    position: static;
}


@media (max-width: 768px) {
    .container-body {
        flex-direction: column;
    }

    .container-left {
        width: 100%;
        height: auto; 
    }

    .container-right {
        width: 100%;
        height: auto;
    }
}
