<div class="container">
    <div class="row">
        <div class="col mt-5 ms-5">
            <img src="assets/images/libreria-admin.svg" alt="admi_libreria" width="150vh">
        </div>
    </div>
    <div class="row">
        <div class="col mt-2 text-center">
            <button class="button">btn1</button>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2 text-center">
            <button class="button">btn1</button>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2 text-center">
            <button class="button">btn1</button>
        </div>
    </div>
</div>