<div class="container">
    <div class="row">
        <div class="col mt-5 text-center">
            <img src="assets/images/Colegio.png" alt="admi_libreria" width="160vh">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <button class="button btn" (click)="navtoRegistrarPrestamo()">Registro de Prestamos</button>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2 text-center">
            <button class="button btn-1" (click)="navtoCrearLibro()">Crear Libro</button>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2 text-center">
            <button class="button btn-2" (click)="navtoCrearAdmin()">Crear Admin</button>
        </div>
    </div>
</div>