.container {
    max-width: 100%;
    margin: auto;
}

.btn {
    color: rgb(109, 109, 109);
    border: none;
    border-radius: 5px;
    padding: 10px 8vh;
    font-size: 21px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 2vh;
}

.btn-1 {
    color: rgb(109, 109, 109);
    border: none;
    border-radius: 5px;
    padding: 12px 10vh;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 2vh;
}

.btn-2 {
    color: rgb(109, 109, 109);
    border: none;
    border-radius: 5px;
    padding: 10px 9vh;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 2vh;
}
.button:hover {
    background-color: #d4d4d4;
}
.text-center {
    text-align: center;
}